# Entorno virtual
.venv/
venv/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de entorno
.env

# Archivos temporales
*.log
*.sqlite3
*.db

# Archivos de sistema
.DS_Store
Thumbs.db
