<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>{% block title %}Cycle{% endblock %}</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
   <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/gif" />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700,800&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   {% block extra_head %}
   
   {% endblock %}
</head>
<body>
   <div class="header_section header_bg">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a href="{{ url_for('index') }}" class="logo"><img src="{{ url_for('static', filename='images/logo_mtb.png') }}" width="120"></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('index') }}">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('contact') }}">inscripcion</a>
               </li>
            </ul>
         </div>
         <div id="main">
            <span style="font-size:36px;cursor:pointer; color: #fff" onclick="openNav()">
               <img src="{{ url_for('static', filename='images/toggle-icon.png') }}" style="height: 30px;">
            </span>
         </div>
      </nav>
      {% block banner %}

      {% endblock %}
   </div>
   <!-- header section end -->

   {% block content %}{% endblock %}
   <!-- map section start -->

   <div class="map_section layout_padding">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-8 col-sm-12 padding_0">
               <div class="map_main">
                  <div class="map-responsive">
                     <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Dzl--thJdEvk2-4PNQECQP4ZgAMfqRc&ehbc=2E312F&noprof=1"
                      width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-12">
               <div class="call_text"><a href="#"><img src="{{ url_for('static', filename='images/map-icon.png') }}"><span class="padding_left_0">Tandil - Buenos Aires</span></a></div>
               <div class="call_text"><a href="#"><img src="{{ url_for('static', filename='images/call-icon.png') }}"><span class="padding_left_0">Contactenos +54 123456</span></a></div>
               <div class="call_text"><a href="#"><img src="{{ url_for('static', filename='images/mail-icon.png') }}"><span class="padding_left_0">mtb_rural@gmail.com</span></a></div>
               <div class="social_icon">
                  <ul>
                     <li><a href="#"><img src="{{ url_for('static', filename='images/fb-icon1.png') }}"></a></li>
                     <li><a href="#"><img src="{{ url_for('static', filename='images/twitter-icon.png') }}"></a></li>
                     <li><a href="#"><img src="{{ url_for('static', filename='images/linkedin-icon.png') }}"></a></li>
                     <li><a href="#"><img src="{{ url_for('static', filename='images/instagram-icon.png') }}"></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- map section end -->


    <!-- footer section start -->
   <footer>
      <div class="footer-container">
         <div class="footer-logo">
            <img src="{{ url_for('static', filename='images/logo_mtb.png') }}" alt="Club Logo" width="100">
            <p>Club Social y Deportivo Unidos por el Deporte</p>
         </div>
         <div class="footer-contact">
            <h4>Contacto</h4>
            <p><a href="mailto:club-email@gmail.com">mtb_rural@gmail.com</a></p>
            <p><a href="https://wa.me/5491234567890" target="_blank">WhatsApp: +54 123456</a></p>
         </div>
         <div class="footer-social">
            <h4>Síguenos</h4>
            <a href="https://facebook.com" target="_blank">Facebook</a> |
            <a href="https://instagram.com" target="_blank">Instagram</a> |
            <a href="https://twitter.com" target="_blank">Twitter</a>
         </div>
         <div class="footer-copyright">
            <p>&copy; 2025 Todos los derechos reservados | Diseñado por <a href="https://github.com/alejandroxr10/tp2_ids"target="_blank"></a>Manuel,Felipe y Alejo</p>
         </div>
      </div>
   </footer>
   <!-- footer section end -->

   <!-- Javascript files-->
   <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
   <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   <script>
      function openNav() {
         document.getElementById("mySidenav").style.width = "250px";
         document.getElementById("main").style.marginLeft = "250px";
      }
      function closeNav() {
         document.getElementById("mySidenav").style.width = "0";
         document.getElementById("main").style.marginLeft= "0";
      }
      $("#main").click(function(){
         $("#navbarSupportedContent").toggleClass("nav-normal")
      })
   </script>
   {% block extra_scripts %}{% endblock %}
</body>
</html>