{% extends "base.html" %}
{% block title %}MTB rural{% endblock %}
{% block banner %}
   <div class="banner_section layout_padding">
      <div id="main_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="container">
                  <div class="row">
                     <div class="col-md-7">
                        <div class="best_text">30 KM</div>
                        <div class="image_1"><img src="{{ url_for('static', filename='images/img-1.png') }}"></div>
                     </div>
                     <div class="col-md-5">
                        <h1 class="banner_taital">MTB RURAL TANDIL 2025 </h1>
                        <p class="banner_text">Viví la aventura del ciclismo de montaña en los paisajes únicos de Tandil</p>
                        <div class="contact_bt"><a href="{{ url_for('contact') }}">INSCRIBITE</a></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <div class="row">
                     <div class="col-md-7">
                        <div class="best_text">80 KM</div>
                        <div class="image_1"><img src="{{ url_for('static', filename='images/img-1.png') }}"></div>
                     </div>
                     <div class="col-md-5">
                        <h1 class="banner_taital">CLUB UNIDOS POR EL DEPORTE</h1>
                        <p class="banner_text">te invita al gran evento de MTB Rural en Tandil. Elegí tu desafío </p>
                        <div class="contact_bt"><a href="{{ url_for('contact') }}">INSCRIBITE</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
         </a>
         <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
         </a>
      </div>
   </div>
{% endblock %}
{% block content %}
   <!-- cycle section start -->
   <div class="cycle_section layout_padding">
      <div class="container">
         <h1 class="cycle_taital">CONOCE MAS...</h1>
         <p class="cycle_text">"24 Oct 2025 - 8:00 AM | Tandil, Buenos Aires Dos distancias: 30km Corta y 80km Larga. </p>
         <div class="cycle_section_2 layout_padding">
            <div class="row">
               <div class="col-md-6">
                  <div class="box_main">
                     <h6 class="number_text"></h6>
                     <div class="image_2"><img src="{{ url_for('static', filename='images/deslinfoto.png') }}"></div>
                  </div>
               </div>
               <div class="col-md-6">
                  <h1 class="cycles_text">DESLINDE</h1>
                  <p class="lorem_text"> ⚠️ Documentación Requerida Para tu seguridad y la nuestra, 
                     todos los participantes deben presentar este documento firmado antes del inicio de la competencia.</p>
                  <div class="btn_main">
                     <div class="read_bt"><a href="{{ url_for('static', filename='images/deslinde.pdf') }}">DESCARGAR</a></div>
                     <h4 class="price_text"><span style=" color: #f7c17b"></span> <span style=" color: #325662"></span></h4>
                  </div>
               </div>
            </div>
         </div>
         <div class="cycle_section_3 layout_padding">
            <div class="row">
               <div class="col-md-6">
                  <h1 class="cycles_text">KIT DE CARRERA</h1>
                  <p class="lorem_text">Tu Pack de Corredor MTB Incluye:</p>
                     <ul class="lorem_text">
        <li>•Camiseta técnica oficial del evento</li>
        <li>•Número de participante y fijaciones</li>
        <li>•Medalla conmemorativa de finisher</li>
        <li>•Productos de nuestros auspiciantes</li>
        <li>•Número de emergencia y mapa de ruta</li>
      </ul>
                  <div class="btn_main">
                     <div class="buy_bt"><a href="{{ url_for('static', filename='images/kit_de_carrera.png') }}">Ver Kit</a></div>
                     <h4 class="price_text"> <span style=" color: #f7c17b"></span> <span style=" color: #325662"></span></h4>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="box_main_3">
                     <h6 class="number_text_2"></h6>
                     <div class="image_2"><img src="{{ url_for('static', filename='images/kitfoto.png') }}"style="margin-top: 70px;"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="cycle_section_2 layout_padding">
            <div class="row">
               <div class="col-md-6">
                  <div class="box_main_3">
                     <h6 class="number_text_2"></h6>
                     <div class="image_2"><img src="{{ url_for('static', filename='images/reglafoto.png') }}"></div>
                  </div>
               </div>
               <div class="col-md-6">
                  <h1 class="cycles_text">REGLAMENTO <br>MTB</h1>
                  <p class="lorem_text">El reglamento establece las normas de participación, seguridad y convivencia durante el evento MTB Rural. Incluye pautas sobre la inscripción, uso obligatorio de casco, 
                     respeto al entorno natural, señalización de la ruta y conducta deportiva. Su cumplimiento es obligatorio para todos los participantes.</p>
                  <div class="btn_main">
                     <div class="buy_bt"><a href="{{ url_for('static', filename='images/reglamento.pdf') }}">LINK</a></div>
                     <h4 class="price_text"><span style=" color: #f7c17b"></span> <span style=" color: #325662"></span></h4>
                  </div>
               </div>
            </div>
         </div>
         <div class="read_btn_main">
            <div class="read_bt"><a href="#">INSCRIBITE</a></div>
         </div>
      </div>
   </div>
   <!-- cycle section end -->
   <!-- about section start -->
   <div class="about_section layout_padding">
      <div class="container">
         <h1 class="about_taital">Trazado y Puntos de Hidratación</h1>
         <h4 class="about_text"> Explorá los trazados de ambas modalidades en el mapa interactivo al final. Ambos recorridos comparten la salida, llegada y los 3 puestos de hidratación</h4>
         <div class="about_main">
            <img src="{{ url_for('static', filename='images/img-5.png') }}" class="image_5">
         </div>
         <div class="read_bt_1"><a href="#">INSCRIBITE</a></div>
      </div>
   </div>
   <!-- about section end -->
 
   <!-- news section start -->
   <div class="news_section layout_padding">
      <div class="container">
         <h1 class="news_taital">Auspiciantes</h1>
         <p class="news_text">Agua Mineral Natural de Manantial Villavicencio, Gatorade y Nike disfrutarán de este evento con nosotros.</p>
         <div class="news_section_2 layout_padding">
            <div class="row">
               <div class="col-sm-4">
                  <div class="box_main_1">
                     <div class="zoomout frame"><img src="{{ url_for('static', filename='images/villa.png') }}"></div>
                     <div class="padding_15">
                        <h2 class="speed_text">Villavicencio</h2>
                        <div class="post_text">Agua Mineral Natural de Manantial Villavicencio<span style="float: right;">Desde Enero/2024</span></div>
                        <p class="long_text">Presentaremos en todos los puestos de hidratación botellas de Agua Villavicencio</p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="box_main_1">
                     <div class="zoomout frame"><img src="{{ url_for('static', filename='images/gato.png') }}"></div>
                     <div class="padding_15">
                        <h2 class="speed_text">Gatorade</h2>
                        <div class="post_text">Gatorade<span style="float: right;">Desde Agosto/2015</span></div>
                        <p class="long_text">Gatorade patrocina este evento para mantener el rendimienton en cada pedaleada. Is it in you? </p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="box_main_1">
                     <div class="zoomout frame"><img src="{{ url_for('static', filename='images/nike.png') }}"></div>
                     <div class="padding_15">
                        <h2 class="speed_text">Nike</h2>
                        <div class="post_text">Nike inc.<span style="float: right;">20-12-2019</span></div>
                        <p class="long_text">Supera tus limites y conquista cada curva con el mejor equipamiento. </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
</div>
{% endblock %}